.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  background-color: aquamarine;
}

h2 {
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
  width: 20vw;
  max-width: 15vw;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100vw;
  padding: 8px;
  box-sizing:content-box;
  border-radius: 20px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  outline: none;
  margin-left: 5%;
  margin-right: 3%;
}
button Link{
  text-decoration: none
;
}

button:hover {
  background-color: #0056b3;
}
.btn-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 5%;
}