
body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  height: 100vh; 
  width: 100vw;
  box-sizing: border-box;
}

.sidebar-container {
  width: 20%;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding: 5px;
  color: aliceblue;
  box-sizing: border-box;
   background-image: url('../assests/peakpx.jpg'); 
    background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.chat-area {
  width: 80%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px;
    background-image: url('../assests/peakpx.jpeg'); 
    background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 100vh;
}

.sb-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.sb-icons {
  display: flex;
  color: black;
  padding: 1%;
}

.icon-btn {
 color: #76c7c0;
  width: 40px;
  margin: 0%;
  box-shadow: none;
  font-size: 40px;
  margin-right: 10%;
}

.icon-btn .MuiSvgIcon-root {
  font-size: 24px; 
  box-shadow: none !important; 
  transition: none; 
}

#icon-btn :hover .MuiSvgIcon-root {
  box-shadow: none !important;
  color: #76c7c0;
  background-color: #ffffff;
}

.sb-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-box {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  margin-left: 10px;
}

.sb-users, .sb-groups {
  padding: 10px 0;

}

.user-item, .group-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  margin: 1%;
  
}

.user-item:hover, .group-item:hover {
  background-color: whitesmoke;
  /* color: black; */
}
.group-details{
  padding: 1%;
  justify-content: center;
  align-items: center;
}
.group-name{
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black; 
  font-weight: 700;
}
.group-name:hover{
  color: black;
  font-weight: 700;
  font-style: italic; 
}
.user-name{
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black; 
  font-weight: 700;
}
.user-name:hover{
  color: black;
  font-weight: 700;
  font-style: italic; 

}
.user-details{
  padding: 1%;
  justify-content: center;
  align-items: center;
}
.user-item .user-details.user-name{
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  font-weight: 700;
}

.messages {
  margin-top: 20px;
  margin-right: 2%;
  width: 80%;
  padding: 2%;
}

.message {
  margin-bottom: 10px;
 
}
.message-box{
    width: 100%;
    border: 1px solid grey; 
    border-radius: 10px;
    margin: 1%;
    justify-content: center;
    
}
.message-box p{
    align-items: center;
    justify-content: center;
    margin: 1%;
    padding: 2%;
    font-size: large;
}

.no-messages {
  color: #ffffff;
}  

.message-input-container {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  /* width: 100vw; */
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-y: auto; 
}

.message-input {
  width: 75vw;
  /* flex-grow: 0.7; */
  border: none;
  outline: none;
  padding: 20px;
  margin-right: 0px;
  border-radius: 20px;
}

.message-send-btn {
  padding: 15px 20px;
  background-color: aquamarine;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #76c7c0;
  box-shadow: none;
  margin: 0%;
}

.message-send-btn:hover {
  background-color: #76c7c0;
  box-shadow: none; 
  color: #76c7c0;
}
#send{
  color: #76c7c0;
  width: 40px;
  margin: 0px;
  box-shadow: none;
  font-size: 40px;
}
#send .MuiSvgIcon-root {
  font-size: 24px; 
  box-shadow: none !important;
  transition: none; 
}

#send:hover .MuiSvgIcon-root {
  box-shadow: none !important; 
  color: #76c7c0;
  background-color: #ffffff;
}